{% extends "layouts/auth_shell.html" %}
{% import "components/macros.html" as ui %}
{% block title %}Welcome back!{% endblock %}
{% block card_title %}Welcome back!{% endblock %}
{% block card_subtitle %}<p class="card-description">Your account is currently deactivated.</p>{% endblock %}
{% block content %}
<div class="account-summary">
  {% call ui::avatar("", account.picture) %}
  <div>
    {% if !account.name.is_empty() %}<div class="account-name">{{ account.name }}</div>{% endif %}
    <div class="account-handle">{{ account.handle }}</div>
  </div>
</div>
<p>You previously deactivated <b>{{ account.handle }}</b>. You can reactivate your account to continue logging in. Your content (profile, posts, feeds, lists, etc.) will become visible again to other users.</p>
{% if let Some(message) = error %}{% call ui::error_notice(message) %}{% endif %}
<div class="action-column">
  <form method="post" action="{{ reactivate_action }}">
    {% call ui::csrf_fields(csrf) %}
    {% call ui::request_fields(client_id, request_uri) %}
    <input type="hidden" name="did" value="{{ account.did }}">
    {% if let Some(token) = session_token %}<input type="hidden" name="session_token" value="{{ token }}">{% endif %}
    <button type="submit" class="btn btn-default btn-block">Yes, reactivate my account</button>
  </form>
  <form method="post" action="{{ cancel_action }}">
    {% call ui::csrf_fields(csrf) %}
    {% call ui::request_fields(client_id, request_uri) %}
    <button type="submit" class="btn btn-secondary btn-block">Cancel</button>
  </form>
</div>
{% endblock %}
