/target/
**/*.rs.bk
Cargo.lock
.openapi-generator-ignore
.openapi-generator
.DS_Store
.cargo
NOTE.md
.graveyard/
/classifier/*.json
/classifier/*.tsv
Rocket.toml
*.pem

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.prod
.env*.bak
/venv/
rustc-*.txt
/botenv/

.idea/